@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Urbanist", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  /* Remove scrollbar */
  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #1e2238; */
    background: transparent;
  }
}

.no-scroll {
  overflow: hidden;
  height: 100%;
}
